In [76]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split      
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [77]:
#importing the data
k=pd.read_csv(r"C:\Users\kalyana raghava\Desktop\titanic.csv")
print(k)

   Survived     Sex  Age  Pclass     Fare
0         1  female   22       1  71.2833
1         0    male   35       2   8.0500
2         1  female   18       3   7.8542
3         0    male   40       1  53.1000
4         0    male   28       3   8.4583

In [78]:
k.dtypes

Survived      int64
Sex          object
Age           int64
Pclass        int64
Fare        float64
dtype: object

In [79]:
k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  5 non-null      int64
 1   Sex       5 non-null      object
 2   Age       5 non-null      int64
 3   Pclass    5 non-null      int64
 4   Fare      5 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 328.0+ bytes

In [80]:
k.shape

(5, 5)

In [81]:
k.isnull()

   Survived    Sex    Age  Pclass   Fare
0     False  False  False   False  False
1     False  False  False   False  False
2     False  False  False   False  False
3     False  False  False   False  False
4     False  False  False   False  False

In [82]:
#hence data has not nan values
k=k.dropna()
print(k)

   Survived     Sex  Age  Pclass     Fare
0         1  female   22       1  71.2833
1         0    male   35       2   8.0500
2         1  female   18       3   7.8542
3         0    male   40       1  53.1000
4         0    male   28       3   8.4583

In [83]:
#split the data into two parts selected attributes are stored inx and 
#target attributes are storesd in y
#based upon above data survived used as test
#reamined used as train

In [84]:
#before split convert sex into integer data type
label_encoder=LabelEncoder()
k['Sex']=label_encoder.fit_transform(k['Sex'])

In [85]:
k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  5 non-null      int64
 1   Sex       5 non-null      int32
 2   Age       5 non-null      int64
 3   Pclass    5 non-null      int64
 4   Fare      5 non-null      float64
dtypes: float64(1), int32(1), int64(3)
memory usage: 308.0 bytes

In [86]:
x=k.drop('Survived',axis=1)        #except survived we have take selected attributes that means remaing
print(x)

   Sex  Age  Pclass     Fare
0    0   22       1  71.2833
1    1   35       2   8.0500
2    0   18       3   7.8542
3    1   40       1  53.1000
4    1   28       3   8.4583

In [87]:
y=k['Survived']
print(y)                     #we have take only survived attribute only

0    1
1    0
2    1
3    0
4    0
Name: Survived, dtype: int64

In [88]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)  #only 20% test tremaing train
print(x)           #it contain 5 rows 4 columsns
print("after spliting data ",x_test)      #after spliting data it contain 1 rows 4column
print("after spliting data ",x_train)     #after spliting data it contains 4 rows  4 colums   
print(x.shape)
print(x_test.shape)
print(x_train.shape)

   Sex  Age  Pclass     Fare
0    0   22       1  71.2833
1    1   35       2   8.0500
2    0   18       3   7.8542
3    1   40       1  53.1000
4    1   28       3   8.4583
after spliting data     Sex  Age  Pclass  Fare
1    1   35       2  8.05
after spliting data     Sex  Age  Pclass     Fare
4    1   28       3   8.4583
2    0   18       3   7.8542
0    0   22       1  71.2833
3    1   40       1  53.1000
(5, 4)
(1, 4)
(4, 4)

In [89]:
print(y)
print("y train is",y_train)
print("ytest is ",y_test)
print(y.shape)
print(y_train.shape)
print(y_test.shape)

0    1
1    0
2    1
3    0
4    0
Name: Survived, dtype: int64
y train is 4    0
2    1
0    1
3    0
Name: Survived, dtype: int64
ytest is  1    0
Name: Survived, dtype: int64
(5,)
(4,)
(1,)

In [91]:
# now we predict accuracy before predict we have to create a  model
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [92]:
y_pred=model.predict(x_test)
print(y_pred)

[0]

# FINDING ACCURACY

In [93]:
accuracy=accuracy_score(y_pred,y_test)
print("after prediction the accuracy is",accuracy)

after prediction the accuracy is 1.0

In [94]:
#samaple predictiion
kh=np.array([[0,1,25,1]])
y2=model.predict(kh)
if y2[0]==1:
    print("the person is predicticted saved from sinking")
else:
    print("the person is not been predicted from sinking")

the person is predicticted saved from sinking

C:\Users\kalyana raghava\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(